{% if site.social-network-links %}
<ul class="list-inline text-center footer-links">

{%- for network in site.social-network-links -%}

  {%- if network[0] == "facebook" -%}
  <li class="list-inline-item">
    <a href="https://www.facebook.com/nguyenviet.vu.927/" title="Facebook">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Facebook</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "github" -%}
  <li class="list-inline-item">
    <a href="https://github.com/vuvietnguyenit" title="GitHub">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">GitHub</span>
   </a>
  </li>
  {%- endif -%}

  {%- if network[0] == "linkedin" -%}
  <li class="list-inline-item">
    <a href="https://linkedin.com/in/vunguyen1407/" title="LinkedIn">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">LinkedIn</span>
   </a>
  </li>
  {%- endif -%}
  
  {%- if network[0] == "kaggle" -%}
  <li class="list-inline-item">
    <a href="https://www.kaggle.com/{{ network[1] }}" title="Kaggle">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-kaggle fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Kaggle</span>
   </a>
  </li>
  {%- endif -%}

{%- endfor -%}

</ul>
{% endif %}
